/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body {
  font-family: "Cormorant Garamond", serif;

}

h1,
h2,
h3,
h6 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 3px;
}

a {
  text-decoration: none;
  color: #B2B2D2;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.logo h1 a {
  font-weight: bold;
  color: black;

}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.nav ul li {
  margin-right: 20px;
}

.child:last-child {
  color: #BE2529;

  font-weight: bolder;
  border: 1px solid #BE2529;
  padding: 7px;
  border-radius: 7px;
}

.child:last-child:hover {
  background-color: #BE2529;
  color: white;
}

.child:nth-child(2) {
  color: #BE2529;
}

/* aside */
.aside ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

/* cards */
.cards {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex: row nowrap; */
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 30% 30% 30%;

  margin: 10px;
  padding: 10px;
}

.card {
  margin: 10px;

  flex: 1;
  flex: row nowrap;


}

.card img {
  max-width: 100%;
}
.image{
  grid-area: image;

}
.title{
  grid-area: title;
  font-size: small;
}
.text{
  grid-area: texte;
  /* padding: 30px; */
}
.writer{
  grid-area: writer;

}
.date{
  grid-area: date;
  font-size: xx-small;
  font-weight: 400;
}
.star{
  grid-area: star;
}
.card-under-card {

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows:2fr 1fr 1fr 1fr ;
  grid-template-areas: 
  "image title"
  "texte texte"
  "writer writer"
  "date star";

}
/* newsletter */
.newsletter{
  background-color: #e2dfdf;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
margin:30px 0;
}
.newsletter-titre{
  font-weight: 900;
  margin-bottom: 5px;
}

.newsletter-send-email{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

margin-top: 10px;
}
.newsletter-email{
  border: none;
  padding: 10px 20px;
background-color: #e2dfdf;
border-bottom: 1px solid black;

}
.newsletter-btn{
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.newsletter-btn:hover{
  background-color: #fff;
  border: 1px solid black;
  color: black;
}